{{template "0-layout.html" .}}

{{define "content"}}

<form action="/contacts" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="" />
    <input type="submit" value="Search" />
</form>

<table>
    <thead>
        <tr>
            <th>First
            <th>Last
            <th>Phone
            <th>Email </th>
        </tr>
    </thead>
    <tbody>
        {{range .Contacts}}
        <tr>
            <td>{{.First}}</td>
            <td>{{.Last}}</td>
            <td>{{.Phone}}</td>
            <td>{{.Email}}</td>
            <td>
                <a href="/contacts/{{.ID}}/edit">Edit</a>
                <a href="/contacts/{{.ID}}">View</a>
            </td>
        </tr>
        {{end}}
        {{if .HasNext }}
        <tr>
            <td colspan="5" style="text-align: center">
                <span hx-target="closest tr" hx-trigger="revealed" hx-swap="outerHTML" hx-select="tbody > tr"
                    hx-get="/contacts?page={{sum .Page 1}}">Loading</span>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>

<div>
    <span style="float: right">
        {{ if gt .Page 1 }}
        <a href="/contacts?page={{ subtract .Page 1 }}">Previous</a>
        {{end}}
        {{ if .HasNext}}
        <a href="/contacts?page={{ sum .Page 1 }}">Next</a>
        {{end}}
    </span>
</div>

<p>
    <a href="/contacts/new">Add Contact</a>
</p>

{{end}}
