{{template "0-layout.html" .}}

{{define "content"}}

<form action="/contacts" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{ .Query }}" hx-get="/contacts"
        hx-trigger="search, keyup delay:500ms changed" hx-target="tbody" hx-push-url="true" hx-indicator="#spinner" />
    <img id="spinner" class="htmx-indicator" src="/static/img/spinner-circles.svg" alt="Request In Flight..." />
</form>

<table>
    <thead>
        <tr>
            <th>First
            <th>Last
            <th>Phone
            <th>Email </th>
        </tr>
    </thead>
    <tbody>
        {{ template "rows.html" . }}
    </tbody>
</table>

<div>
    <span style="float: right">
        {{ if gt .Page 1 }}
        <a href="/contacts?page={{ subtract .Page 1 }}">Previous</a>
        {{end}}
        {{ if .HasNext}}
        <a href="/contacts?page={{ sum .Page 1 }}">Next</a>
        {{end}}
    </span>
</div>

<p>
    <a href="/contacts/new">Add Contact</a>
</p>

{{end}}
